{%extends "/base.html" %}

{% block title %}Sign In{% endblock %}
{% block style %}<link rel="stylesheet" href="/css/register_auth.css" />{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <a href="/"><img src="/img/logo.png" width="50" alt="Logo" ></a>                        
                    <h3 style="text-align: center;"> Sign In</h3>
                </div>
                <div class="card-body">
                    <form id="formAuthentication" class="mb-3" action="user/auth" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                        </div>                            
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                        <p class="loginregister">
                            <span>Don't have an account?</span>
                            <a href="/register">
                              <span>Sign up</span>
                            </a>
                        </p>
                    </form>                        
                </div>
                {% if not_auth %}
                <div id="alert" class="alert alert-danger d-none" role="alert">
                    Incorrect username or password. Please try again.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
