{%extends "/base.html" %}

{% block title %}Sign Up{% endblock %}
{% block style %}<link rel="stylesheet" href="/css/register_auth.css" />{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <a href="/"><img src="/img/logo.png" width="50" alt="Logo" ></a> 
                    <h3 style="text-align: center;">Sign Up</h3>   
                </div>
                <div class="card-body">
                    <form id="formRegister" class="mb-3" action="user/register" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" placeholder="Enter your age" name="age">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your e-mail" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                        <p class="loginregister">
                            <span>Already have an account?</span>
                            <a href="/auth">
                              <span>Sign in</span>
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}